<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MealMate"
        tools:targetApi="31">
        <activity
            android:name=".LocationDashboard"
            android:exported="false">

        </activity>
        <activity
            android:name=".LocationDetails"
            android:exported="false" />
        <activity
            android:name=".fetchingSingleFood"
            android:exported="false" />
        <activity
            android:name=".FetchLocation"
            android:exported="false"/>

        <activity
            android:name=".MainDashboard"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".allNoticeList"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".listNotices"
            android:exported="false" />
        <activity
            android:name=".FetchingFood"
            android:exported="false" />


        <activity
            android:name=".noticeUpdateDialog"
            android:exported="false" />
        <activity
            android:name=".noticeDetails"
            android:exported="false" />
        <activity
            android:name=".notice_single"
            android:exported="false" />
        <activity
            android:name=".FoodDetails"
            android:exported="false" />
        <activity
            android:name=".AddLocation"
            android:exported="false"/>
        <activity
            android:name=".noticeDash"
            android:exported="false">
        </activity>
        <activity
            android:name=".TermsAndConditions"
            android:exported="false" />
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Contact_us"
            android:exported="false" />
        <activity
            android:name=".lilstDetails"
            android:exported="false" />
        <activity
            android:name=".request"
            android:exported="false" />
        <activity
            android:name=".GivePartfood"
            android:exported="false"/>
        <activity
            android:name=".forgetpassword2"
            android:exported="false" />
        <activity
            android:name=".forget_password"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".MealDashboard"
            android:exported="false"/>

        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".RegisterAsIndividual"
            android:exported="false" />
        <activity
            android:name=".Register3"
            android:exported="false" />
        <activity
            android:name=".addNotice"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
    </application>

</manifest>